*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    font-style: normal;
    font-size: 1.4em;
    text-align: center;
    font-family: Comic-Sans;


}
div{
    font-size: 0.9em;
    text-align: center;
   
}



